[Unit]
Description=Blackbriar Monitor Service
After=udev.service

[Service]
Type=simple
ExecStart=/home/berardinux/Documents/Blackbriar/Blackbriar.sh

[Install]
WantedBy=multi-user.target
